<a href="https://colab.research.google.com/github/mistryamit03/Regression-Analysis-Superstore-Data/blob/main/Collab_Project_Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')
%matplotlib inline

In [11]:
path = "/content/drive/MyDrive/Datasets/Train.csv"
df = pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Datasets/Train.csv'

In [ ]:
df.head(5)

In [ ]:
from matplotlib import pyplot as plt
_df_15['Outlet_Establishment_Year'].plot(kind='line', figsize=(8, 4), title='Outlet_Establishment_Year')
plt.gca().spines[['top', 'right']].set_visible(False)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.apply(lambda x: len(x.unique()))

In [ ]:
df['Outlet_Size'].value_counts()

In [ ]:
cat_col = []
for x in df.dtypes.index:
  if df.dtypes[x] == 'object':
    cat_col.append(x)
cat_col

In [ ]:
print(cat_col)

In [ ]:
median = df['Item_Visibility'].median()
df['Item_Weight'].fillna(median, inplace=True)

In [4]:
df['Item_Weight'].isnull().sum()

NameError: name 'df' is not defined

In [5]:
df.isnull().sum()

NameError: name 'df' is not defined

In [6]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

NameError: name 'df' is not defined

In [7]:
df.info()

NameError: name 'df' is not defined

In [8]:
df.info()

NameError: name 'df' is not defined

In [9]:
df['Outlet_Size'].isnull().sum()

NameError: name 'df' is not defined

In [ ]:
sum(df['Item_Weight']==0)

0

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0]if not x.mode().empty else 'Unkown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0]if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'].isnull().sum()

0

In [ ]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
median = df['Item_Visibility'].median()
df['Item_Weight'].fillna(median, inplace = True)

In [ ]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))

In [ ]:
df['Outlet_Size'] = df.groupby('Outlet_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknwown'))

In [ ]:
sum(df['Item_Weight']==0)

0

In [ ]:
sum(df['Item_Identifier']==0)

0

In [ ]:
sum(df['Item_Fat_Content']==0)

0

In [ ]:
sum(df['Item_Visibility']==0)

526

In [ ]:
sum(df['Item_Type']==0)

0

In [ ]:
sum(df['Item_MRP']==0)

0

Tries to find how many zeros are there in each of the attribute columns

In [ ]:
zero_counts = df.apply(lambda x: (x==0).sum())

In [ ]:
print(zero_counts)

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility              526
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

HEre we are replacing the zero values with mean

In [ ]:
df.loc[:, 'Item_Visibility'].replace([0], [df['Item_Visibility'].mean()], inplace = True)

In [ ]:
print(zero_counts)

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility              526
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [ ]:
sum(df['Item_Visibility']==0)

0

In [ ]:
zero_counts = df.apply(lambda x: (x==0).sum())

In [ ]:
print(zero_counts)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Replacing the zeros with mean

Colon stands for all the rows

In [ ]:
df.loc[:,'Item_Visibility'].replace([0], [df['Item_Visibility'].mean()],inplace=True)

In [ ]:
df.loc[:, 'Item_Visibility'].replace([0], [df['Item_Visibility'].mean()],inplace= True)

In [ ]:
sum(df['Item_Visibility']==0)

0

Aggregating values in the Fat content

In [ ]:
for col in cat_col:
  print(col)
  print(df[col].value_counts())
  print()

Item_Identifier
Item_Identifier
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: count, Length: 1559, dtype: int64

Item_Fat_Content
Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

Item_Type
Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64

Outlet_Identifier
Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: count, dtype: int64

Outlet_Size
Outlet_Size
Small     4798
Medium    2793
High       932
Name: count, dtype: int64

Outlet_Location_Type
Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: count, dtype: int64

Outlet_Type
Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: count, dtype: int64

Item Fat conent type: Low Fat and Regular. What we are doing here is: Trying to use the other types like LF, reg and similar value like low fat written in small to combine this to its same value.

Combining Item Fat Content. By creating dictionaries in the replace function from python.

In [ ]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF': 'Low Fat', 'low fat':'Low Fat' ,'reg': 'Regular'})
df['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

**CREATING NEW ATTRIBUTES**

Creating new attrtbutes includes that with column: Item Identifier.

FD14
DR15
NCY18

We can extract initials from the data to make one new column with types such as FD= Food, DR= Drinks, NC= Non  Consumable

In [ ]:
df['New_Item_Type'] = df['Item_Identifier'].apply(lambda x: x[:2])
df['New_Item_Type']

0       FD
1       DR
2       FD
3       FD
4       NC
        ..
8518    FD
8519    FD
8520    NC
8521    FD
8522    DR
Name: New_Item_Type, Length: 8523, dtype: object

In [ ]:
df['New_Item_Type'] = df['Item_Identifier'].apply(lambda x: x[:2])
df['New_Item_Type']

0       FD
1       DR
2       FD
3       FD
4       NC
        ..
8518    FD
8519    FD
8520    NC
8521    FD
8522    DR
Name: New_Item_Type, Length: 8523, dtype: object

Changing the abbreviations to full forms

WE can do this either map() or replace() function

In [ ]:
df['New_Item_Type'] = df['New_Item_Type'].map({'FD': 'Food', 'NC':'Non-Consumable', 'DR': 'Drinks' })
df['New_Item_Type'].value_counts()

New_Item_Type
Food              6125
Non-Consumable    1599
Drinks             799
Name: count, dtype: int64

Now we have 3 categories, we can use the non-consumable category in the fat content to represent low fat content or regular as non consumable.

In [ ]:
df.loc[df['New_Item_Type']== 'Non-Consumable', 'Item_Fat_Content'] = 'Non-Edible'
df['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat       3918
Regular       3006
Non-Edible    1599
Name: count, dtype: int64

In [1]:
df['New_Item_Type'].head(15)

NameError: name 'df' is not defined